SECRET_KEY=!+r$zsgwjw2r2$+45va+0f0ygsrlo#5z-xh1bw)lo6h(10b%7-
DEBUG=False
ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgres://user:pass@host:5432/dbname

TELEGRAM_BOT_TOKEN=your-bot-token-here
TELEGRAM_ADMIN_CHAT_ID=your-chat-id-here
